/* Estilos generales para el header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.5rem 0;
  height: 5rem;
  background-color: #fafafa;
  position: relative; /* Para que el menú se posicione relativo al header */
}

/* Estilo del logo */
.header-title {
  color: #229799;
}

/* Estilo para el menú de navegación */
.nav-links {
  display: flex; /* Mostrar botones en pantallas grandes */
  justify-content: center;
  gap: 2rem; /* Espaciado entre botones */
}

.menu-toggle {
  display: none; /* Oculto por defecto */
  background: none;
  border: none;
  cursor: pointer;
}

/* Mostrar el menú de hamburguesa en móviles */
@media (max-width: 767px) {
  .menu-toggle {
    display: block; /* Mostrar el ícono de hamburguesa en móviles */
    color: #229799;
  }

  header{
  padding: 2rem 2rem 1rem;
  }


  .nav-links {
    display: none; /* Ocultar botones por defecto */
    flex-direction: column; /* Hacer que el menú sea vertical al abrir */
    position: fixed; /* Fijo para que se superponga sobre todos los elementos */
    top: 0;
    left: 0;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
    background-color: rgba(248, 249, 250, 0.95); /* Fondo ligeramente transparente */
    padding: 1rem;
    z-index: 999; /* Asegura que esté por encima de todos los elementos */
    gap: 2rem; 
  }

  .nav-links.open button{
    font-size: x-large;
  }

  .nav-links.open {
    display: flex; /* Mostrar el menú cuando está abierto */
  }
}

.nav-links button {
  background-color: transparent;
  color: #229799;
  font-size: medium;
  padding: 0;
}

.nav-links button:hover {
  background-color: transparent;
  color: #229799;
  
}
