*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #Fafafa;
  color: #424242;
  line-height: 1.6;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.content {
  flex: 1;
  min-height: calc(100vh - 10rem);

} 

h2, h3 {
  color: #229799;
}

button {
  background-color: #48CFCB;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center; /* Centra el texto dentro del botón */
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: #229799;
  transform: scale(1.05);
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  
}

.modal button {
  margin: 0.5rem;
}

form {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input {
  border-radius: 5px;
  border: 1px solid #48CFCB;
  height: 1.5rem;
  padding: 10px;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: #229799;
  height: auto;
}

a:hover {
  color: #48CFCB;
}

@media (max-width: 767px) {
  
form {
  flex-direction:column;
}

form button {
  margin: 1rem;
}

input {
  height: auto;
}

h2{
  text-align: center;
}

.total-btn {
  margin: 1rem;
}
}

.total-btn{
  gap: 0.5rem;
}